@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.sidebarContainer {
  width: 761px;
  max-width: 100%;
  height: 100%;
  background: rgba($mine-shaft, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -761px;
  z-index: 20;
  padding: 45px 90px;
  transition: transform 500ms;
  position: fixed;
}

.topBar {
  margin-bottom: 95px;
}

.openSidebar {
  transform: translate3d(761px, 0, 0);
}

.closeSidebar {
  transform: translate3d(-761px, 0, 0);
}

.linkContainer {
  display: flex;
  flex-direction: column;
  
  .link:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .link:last-of-type {
    margin-bottom: 72px;
  }
}

.link a, .addMovieButton, .logoutButton {
  color: white;
  font-size: 22px;
  line-height: 22px;
}

.addMovieButton {
  color: white;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 72px;

  &:before {
    content: "";
    background: url("../../public/assets/ic-add.svg") center no-repeat;
    height: 14px;
    width: 14px;
    margin-right: 12px;
  }
}

.addMovieButton, .logoutButton {
  font-weight: bold;
  align-self: flex-start;
}

.logo {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .sidebarContainer {
    padding: 24px 34px;
    background: $mine-shaft;
  }

  .link a, .addMovieButton, .logoutButton {
    font-size: 16px;
    line-height: 16px;
  }
}
