@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.addMovieContainer {
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.addMovieContent {
  padding: 48px 64px;
  width: 100%;
}

.closeButton {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 24px;
  background: url('../../public/assets/ic-close.svg') center/cover no-repeat;
  z-index: 1;
}

.formBottomContainer {
  position: relative;
}

.buttonSuccessContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonPreRequestContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonPreRequestContainer,
.buttonSuccessContainer {
  transition: opacity 250ms ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.bottomCloseButton {
  display: none;
}

.topBar {
  display: none;
}

.submitButton, .homeButton {
  z-index: 1;
}

@media screen and (max-width: $mobile-breakpoint) {
  .topBar {
    display: flex;
    padding: 24px;
    width: 100%;
  }

  .addMovieContent {
    padding: 76px 24px;

    > * {
      margin-bottom: 0; 
    }
  }

  .closeButton {
    display: none;
  }

  .submitButton {
    margin-bottom: 24px;
  }

  .bottomCloseButton {
    display: flex;
  }

  .cancelButton {
    font-size: 16px;
    line-height: 16px;
  }

  .uploadingContainer {
    margin-bottom: 56px;
    height: 80px;
  }

  .uploadProgressTitle {
    font-size: 14px;
    line-height: 14px;
  }

  .buttonContainer {
    align-self: flex-end;
  }
}

@media screen and (max-width: $small-mobile-breakpoint) {
  .addMovieContent {
    padding: 30px 24px;
  }
}
