@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.addMovieContainer {
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
}

.addMovieContent {
  padding: 64px;
  flex: 1 1 0;
}

.closeButton {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 24px;
  background: url('../../public/assets/ic-close.svg') center/cover no-repeat;
  z-index: 1;
}

.upperFormContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formBottomContainer {
  position: relative;
}

.successContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preRequestContainer {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.buttonSuccessContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonPreRequestContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.successContainer,
.preRequestContainer,
.buttonPreRequestContainer,
.buttonSuccessContainer {
  transition: opacity 250ms ease-in-out;
}

.addImageTitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: $aqua;
  margin-bottom: 48px;
}

.imageUploader, .uploadingContainer {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageUploader {
  border: 1px dashed white;
}

.titleInputContainer {
  position: relative;
  margin-bottom: 48px;
}

.titleInputError {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  font-size: 10px;
  line-height: 12px;
  color: red;

  &.visible {
    opacity: 1;
  }
}

.titleInput {
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 248px;
  padding: 8px;
  text-align: center;

  &::placeholder {
    color: white;
  }
}

.uploadImageLabel {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    background: url('../../public/assets/ic-clip.svg') center/cover no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 16px;
  }
}

.uploadProgressTitle {
  font-size: 16px;
  line-height: 16px;
  align-self: flex-start;
  margin-bottom: 16px;
}

.emptyProgressLine {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: $dove-gray;
  margin-bottom: 20px;
}

.progressLine {
  position: absolute;
  top: -3px;
  left: 0;
  right: 10px;
  height: 10px;
  background-color: $aqua;
  transition: width 250ms linear;

  &.uploadError {
    background-color: red;
  }
}

.cancelButton {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  align-self: flex-end;

  &.ready {
    pointer-events: none;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.logo {
  margin-bottom: 72px;
  width: 113px;
  height: 34px;

}

.successTitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 24px;
}

.successSubtitle {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 92px;
  text-align: center;
}

.bottomCloseButton {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .addMovieContent {
    padding: 76px 24px;

    > * {
      margin-bottom: 0; 
    }
  }

  .closeButton {
    display: none;
  }

  .addImageTitle {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 72px;
  }

  .imageUploader {
    height: 80px;
    margin-bottom: 56px;
  }

  .titleInputContainer {
    margin-bottom: 96px;
  }

  .submitButton {
    margin-bottom: 24px;
  }

  .bottomCloseButton {
    display: flex;
  }

  .cancelButton {
    font-size: 16px;
    line-height: 16px;
  }

  .uploadingContainer {
    margin-bottom: 56px;
    height: 80px;
  }

  .uploadProgressTitle {
    font-size: 14px;
    line-height: 14px;
  }

  .logo {
    display: none;
  }

  .successTitle {
    margin-bottom: 32px;
  }

  .successSubtitle {
    line-height: 32px;
    margin-bottom: 133px;
  }

  .buttonContainer {
    align-self: flex-end;
  }
}

@media screen and (max-width: $small-mobile-breakpoint) {
  .imageUploader {
    margin-bottom: 30px;
  }

  .titleInputContainer {
    margin-bottom: 50px;
  }
}
